extends ProcessScreenTemplate
block append scriptsBlock
	link(rel='stylesheet', href='/css/data.css')
	link(rel='stylesheet', href='/css/images.css')
	link(rel='stylesheet', href='/css/lightslider.css')
	link(rel='stylesheet', href='/css/lightgallery.css')
	script(src='/js/lightslider.js')
	script(src='/javascript/images.js')
	script(src='/js/lightgallery-all.js')
block processBlock
	div#imagesDiv