extends ProcessScreenTemplate
block append scriptsBlock
	link(rel='stylesheet', href='/css/data.css')
	script(src='/javascript/data.js')
block processBlock
	div(class='row')
		div(class='col-sm-6')
			div#videoColumn
				h4 Video
				div#videoDiv
					video(id='selectedVideo', controls)
						source(src=videoUrl, type='video/mp4')
		div(class='col-sm-6',id='excelDiv')
			div(class='row row-eq-height')
				h4 Gyroscope
				div#gyroDiv
			div(class='row row-eq-height')
				h4 Accelerometer
				div#accDiv
