extends ../Layout.jade
block titleBlock
	title='Process Screen'
block scriptsBlock
	//link(rel='stylesheet', href='css/data.css')
	script(src='/javascript/process.js')
	script var curFolder = !{JSON.stringify(curFolder)};
block headerBlock
	h2#pageHeading #{curFolder.folderName} Process Screen
block contentBlock
	nav(class='navbar navbar-default')
		div(class='container-fluid')
			div(class='navbar-collapse collapse')
				ul(class='nav navbar-nav')
					li
						a(href='/ProcessScreen/Originals',id='originalsLink') Originals
					li
						a(href='/ProcessScreen/Images',id='imagesLink') Images
					li 
						a(href='/ProcessScreen/SiftKeypoints',id='keypointsLink') Sift-Keypoints
					li
						a(href='/ProcessScreen/Model',id='modelLink') Model
	block processBlock