extends Layout.jade
block titleBlock
	title='Data Screen'
block scriptsBlock
	link(rel='stylesheet', href='/css/data.css')
	script(src='/javascript/data.js')
	script var curFolder = !{JSON.stringify(curFolder)};
	script var hasCachedScreenshots = !{hasCachedScreenshots};
	script var hasCachedKeypoints = !{hasCachedKeypoints};
	script var hasCachedEssentialMatrices = !{hasCachedEssentialMatrices};
	script var hasCachedModel = !{hasCachedModel};
block headerBlock
	h2#pageHeading #{curFolder.folderName} Data Screen
block contentBlock
	div(class='row')
		div(class='col-sm-6')
			div#videoColumn
				h4 Video
				div#videoDiv
					video(id='selectedVideo', controls)
						source(src=videoUrl, type='video/mp4')
			button(id='processScratchBtn',type = 'button' class = 'btn btn-success btn-block') Process from Scratch
		div(class='col-sm-6',id='excelDiv')
			div(class='row row-eq-height')
				h4 Gyroscope
				div#gyroDiv
			div(class='row row-eq-height')
				h4 Accelerometer
				div#accDiv
			button(id='processScreenshotsBtn',type = 'button' class = 'btn btn-success') Process from Screenshots
			button(id='processKeypointsBtn',type = 'button' class = 'btn btn-success') Process from Keypoints
			button(id='processEssentialMatricesBtn',type = 'button' class = 'btn btn-success') Process from Essential Matrices
			button(id='processModelBtn',type = 'button' class = 'btn btn-success') View Model
