html
	head
		block titleBlock
		script(src='/javascript/jquery-2.1.4.min.js')
		script(src='/javascript/checkStatus.js')
		script(src='/javascript/bootstrap.min.js')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
		link(rel='stylesheet',href='/css/layout.css')
		block scriptsBlock
	body
		div(class='jumbotron')
			div(class='container')
				block headerBlock
		div(class='container')
			block contentBlock
			footer(class='footer')
				div#readingStatusDiv
					h4 Status:
					h4 Reading the server status (please be patient)
				div#readStatusDiv
					h4 Status:
					span(id='isAuthedPara',class='label')
					span(id='isOnlinePara',class='label')
					span(id='isServerUpPara',class='label')
					button(id='reconnectBtn',type='button',class='btn btn-warning') Reconnect to the server