extends Layout.jade
block titleBlock
	title='Splash Screen'
block scriptsBlock
	link(rel='stylesheet', href='/css/splash.css')
	script(src='/javascript/ReadFolders.js')
block headerBlock
	h2#pageHeading Welcome to the 3D-Room Modeler Dashboard
block contentBlock
	div(class='row')
		div(class='col-sm-6')
			h4 Current Projects
			select(id = 'folderListSelect',multiple class='form control')
		div(class='col-sm-6')
			div#videoColumn
				h4 Video
				div#videoDiv
				button(id= 'startProcessBtn',type = 'button' class = 'btn btn-success btn-block') Start Processing!
