html 
	head
		title='Status'
		script(src='javascript/checkStatus.js')
		link(rel='stylesheet',href='css/splash.css')
	body
		h1 Status
		div#readingStatusDiv
			h3 Reading the server status (please be patient)
		div#readStatusDiv
			p#isAuthedPara
			p#isOnlinePara
			p#isServerUpPara
			button#reconnectBtn Reconnect to the server