#videoColumn{
	width:350px;
	height:635px;
}
#videoDiv{
	width:100%;
	height:95%;
}
video{
	width:100%;
	height:100%;
}
#gyroDiv,#accDiv{
	height:45%;
	overflow-y:scroll;
}
#excelDiv{
	height:630px;
}
