/*li:hover{
	text-decoration: underline;
	cursor: pointer;
}*/
html{
	position:relative;
	min-height:100%;
}
body{
	margin-bottom:5%;
	width:100%;
}
.footer{
	position:absolute;
	bottom: 0;
	height:5%;
}
#readingStatusDiv>*,#readStatusDiv>*{
	display:inline-block;
	margin-right:20px;
}
.container{
	width:95%;
}
h2{
	text-align: center;
}